In [2]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics

df=pd.read_csv('../data/resume_text.csv')
df.head()

         job                                               text
0  프론트엔드 개발자  skills : html, css, javascript\n\n총 10년의 경력으로 ...
1  프론트엔드 개발자  skills : javascript, react, typescript, next.j...
2  프론트엔드 개발자  skills : javascript, java, nexacro, websquare,...
3    풀스택 개발자  skills : html, css, javascript, sql, java, mys...
4    풀스택 개발자  skills : java, mysql, spring, spring-boot, ora...

In [15]:
#직업 분포 확인
df.groupby('job').count()

                   text
job
PM                   20
Sales                 6
데브옵스 엔지니어             8
데이터 분석가              12
데이터 엔지니어              6
백엔드 개발자             325
웹디자인, 디자인, UX 디자인    20
풀스택 개발자             354
프론트엔드 개발자           354